<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.AuroraByteSoftware.AuroraDMX">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- VERY IMPORTANT! Don't forget this permission, or in-app billing won't work. -->
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="com.AuroraByteSoftware.AuroraDMX.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="com.AuroraByteSoftware.AuroraDMX.MainActivity"
            android:label="@string/app_name" 
            android:configChanges="orientation|keyboardHidden|screenSize" 
            >

            <!-- android:screenOrientation="sensorLandscape" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.AuroraByteSoftware.AuroraDMX.ui.EditCueMenu"
            android:label="@string/title_activity_EditCueMenu" >
        </activity>
        <activity
            android:name="com.AuroraByteSoftware.AuroraDMX.ui.PatchActivity"
            android:label="@string/title_activity_patch" >
        </activity>
    </application>

</manifest>